<header class="container-fluid sticky-top">
  <nav class="navbar navbar-expand-lg bg-light px-lg-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="./cursos_user.html" class="navbar-brand d-flex align-items-center mb-0 logo-center-sm fw-semibold">
      <img class="me-3 logo" width="40" height="40" src="../assets/logo-upta.png" alt="Logo de la UPTA">
      <span class="d-none d-lg-inline">Vinculación Social</span>
    </a>
    <div class="d-flex align-items-center nav-right-wrapper">
      <button class="nav-item btn btn-link">
        <img width="16" src="../assets/icons/bell-fill.svg">
      </button>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mx-2" type="button" id="userDropdownBtn" data-bs-toggle="dropdown">
          <img width="16" height="16" class="mx-1" src="../assets/icons/person-circle.svg">
        </a>
        <ul class="dropdown-menu" style="left: -6rem;">
          <li>
            <a href="./perfil.html" class="dropdown-item" href="#">
              <img class="mb-1" width="16" src="../assets/icons/person-fill.svg">
              Perfil
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a href="../index.html" class="dropdown-item" href="#">
              <img class="mb-1" width="16" src="../assets/icons/box-arrow-left.svg">
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav text-center">
        <a href="./cursos_user.html" class="nav-link">Cursos</a>
        <a onclick="notImplementedMsg()" class="nav-link">Eventos</a>
        <a href="./clubes_user.html" class="nav-link">Clubes</a>
      </div>
    </div>
  </nav>
</header>